
.navbar {
    background-color: #cae4db; 
    color: #fb6a4a;           
    padding: 20px 40px;         
    display: flex;
    justify-content: center;   
    align-items: center;       
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  
    font-family: 'Arial', sans-serif; 
}

.navbar h1 {
    font-size: 2em;  
    margin: 0;       
    padding-top: 10px;
    font-family: 'Arial', sans-serif; 
}
